@import "tailwindcss";

.playwrite {
  font-family: "Playwrite PL", cursive;
}
.Finlandica {
  font-family: "Finlandica Headline", sans-serif;
  font-style: normal;
}
@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}
  /* --- WebKit (Chrome, Safari, Edge) --- */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 45px;      /* Rectangle width */
    height: 8px;     /* Rectangle height */
    background: #13bc3a;
    border-radius: 4px; /* Makes the thumb a rectangle */
    cursor: pointer;
  }